@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the FlightSharp website</h1>
    <p>Click here to begin search <a class="nav-link text-dark" asp-controller="Home" asp-action="Search">Search</a></p>
</div>
