
@{
    ViewData["Title"] = "Search";
}
@section scripts{
    <script src="@Url.Content("~/js/search.js")" type="text/javascript" defer></script>
}

<h1>Search</h1>

<link href="@Url.Content("~/css/search.css")" rel="stylesheet" type="text/css" />
<div class="divInputs">
    <h1>Please give us the following flight details!</h1>
    <input class="input" id="from" maxlength="3" placeholder="Fly from" />
    <br>
    <input class="input" id="to" maxlength="3" placeholder="Destination" />
    <br>
    <input class="input" id="maxPrice" maxlength="8" placeholder="0" />
    <br>
    <button class="blueBTN" id="search">Search</button>
</div>
<div id="showResults">

</div>
