
@{
    ViewData["Title"] = "Search";
}
@section scripts{
    <script src="@Url.Content("~/js/search.js")" type="text/javascript" defer></script>
}

<h1>Search Flights</h1>

<div class="divInputs text-center m-3">
    <div aria-live="polite" aria-atomic="true" style="position: relative;">
        <div id="toastContainer" style="position: absolute; top: 0; right: 0;"></div>
    </div>

    <h3>Please enter the following flight details!</h3>

    <input class="input" id="from" maxlength="3" placeholder="Fly from" />
    <br>
    <input class="input" id="to" maxlength="3" placeholder="Destination" />
    <br>
    <input class="input" id="maxPrice" maxlength="8" type="number" placeholder="price limit (optional)" />
    <br>
    <button class="blueBTN" id="search">Search</button>
</div>
<div id="showResults">

</div>

